@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD;
}

.portifolio {
    font-family: "Krona One", sans-serif;
    font-size: 36px;
    text-align: center;
    padding: 2rem;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 2rem;
}

.apresentacao {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: "Krona One", sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 21px 0;
    text-decoration: none;
    border-radius: 16px;
    background-color: #22D4FD;
    color: black;
    width: 280px;
    text-align: center;
}