body {
    margin: 0;
    padding: 0;
}
.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;
    padding: 0;
    width: 80%;
    max-width: 1200px;
    height: 60vh;
    background-color: #f8eac2;
}

div {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    background-color: red;
}

.bloco-1 {
    background-color: #c6d8ef;
}

.bloco-2 {
    background-color: #d8bfd7;
}

.bloco-3 {
    background-color: #ff9999;
}