body {
    background-color: #DDD;
}

.container1 {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    background-color: rebeccapurple;
}

.block1 {
    box-sizing: border-box;
    width: 280px;
    height: 200px;
    font-size: 24px;
    background-color: #FFF;
    margin: 20px;
    padding: 20px;
    border: 2px solid #CCC;
    text-align: center;
}

.block1:hover {
    border: 5px solid #CCC;
}

.container2 {
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: bisque;
}

.block2 {
    box-sizing: border-box;
    width: 380px;
    height: 380px;
    border: 5px solid #CCC;
    margin: auto;
}

.block2:hover {
    border: 10px solid #CCC;
}

